* {
  background-color: #ede3fb;
  margin: 0;
  padding: 0;
}

#tela {
  background-color: white;
  width: 700px;
  height: 500px;
  border: 1px solid;
}
input[type='color'] {
  background-color: white;
  padding: 0;
  width: 150%;
  height: 150%;
  margin: -25%;
}
button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  overflow: hidden;
  box-shadow: 1px 1px 3px 0px grey;
  margin: 1em;
}
.cp_wrapper {
  overflow: hidden;
  width: 60px;
  height: 60px;
  /* optional formatting below here */
  border-radius: 50%;
  box-shadow: 1px 1px 3px 0px grey;
  margin: 1em;
}
.dot {
  height: 60px;
  width: 60px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.square{
  height: 40px;
  width: 400px;
  background-color: #bbb;
  border: solid 2px black;
}

#resp{
  background-color: white;
  width: 470px;
  border: 1px solid #ddd;
  border-color: black;
  height: 50px;
  padding: 0 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}

#msgs{
  background-color: white;
  height: 150px;
  width: 500px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid;
  border-color: black;
}

.scroll {
  display: block;
  border: 0px solid red;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
}
#colorPallete10{
height: 30px;
width: 30px;
border-radius: 0%; 
}